@using CapaEntidades
@{
    ViewBag.Title = "BuscaCliente";
    Layout = "~/Views/MasterPage.cshtml";
}

<script type="text/javascript">
    function formReset() {
        document.getElementById("myForm").reset();
    }

    function habilitar(value) {
        if (value == true) {
            // habilitamos
            document.frmcliente.txttelfB.disabled = true;
            document.getElementById("txttelfB").value = "";
            document.getElementById("select1").disabled = false;
            document.frmcliente.txtnumdoc.disabled = false;

        } else if (value == false) {
            // deshabilitamos
            document.frmcliente.txttelfB.disabled = false;
            document.getElementById("select1").disabled = true;
            document.getElementById("select1").value = 0;
            document.frmcliente.txtnumdoc.disabled = true;
            document.getElementById("txtnumdoc").value = "";
        }
    }
</script>

<form id="myForm" name="frmcliente" method="post">
    <section>
        <h1>Busqueda de clientes</h1>
        <div class="form">
            <div class="form-group">
                <button type="submit" class="btn btn-raised ink-reaction btn-primary" name="btnBuscar"><i class="md md-search"></i> Buscar</button>
                <button onclick="formReset()" class="btn btn-raised ink-reaction btn-primary"><i class="md md-refresh"></i> Limpiar</button>
            </div>
        </div>
            <div class="section-body contain-lg">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            @{
                                if (ViewBag.sms != null)
                                {
                                    <div class="alert alert-callout alert-warning" role="alert">
                                        <strong>¡Atención!</strong> @ViewBag.sms
                                    </div>
                                }

                            }
                            <div class="col-lg-4">
                                <div class="form">
                                    <input type="text" class="form-control" id="txttelfB" name="txttelfB" placeholder="Teléfono" />
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="col-lg-2">
                                    <input type="hidden" name="ch" id="ch" value="@ViewBag.check">
                                    <label class="checkbox-inline checkbox-styled checkbox-primary">
                                        <input type="checkbox" name="chkotro" id="check" onclick="habilitar(this.checked);"><span>Otro</span>
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    @{List<entTipDoc> d = (List<entTipDoc>)ViewBag.doc; }
                                    <select id="select1" class="form-control" name="select1" disabled>
                                        <option value="0">&nbsp;</option>
                                        @foreach (var i in d)
                                        {
                                            <option value="@i.td_id">@i.td_Descripcion</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="txtnumdoc" class="form-control" name="txtnumdoc" placeholder="Nro Documento" disabled="disabled" />
                                    </div>
                                </div>
                            @{
                                String Cli_Codigo = "", Cli_Nombre = "", Cli_RazonSocial = "", Cli_Numero_Documento = "", Cli_FechaNacimiento = "", Cli_LugarNacimiento = "", Cli_Correo = "", Cli_Telefono_Referencia = "", Cli_Estado = "", Cli_FechaRegistro = "", Cli_FechaModificacion = "",
                                    td_Descripcion = "", Seg_Nombre = "", Tel_Numero = "", Tel_Producto = "", Tel_Direccion = "", Tel_FechaAlta = "", Tel_F1 = "", Tel_F2 = "", Tel_F3 = "",
                                    desde = "";
                                int Cli_Id = 0, month = 0, year = 0; ; double day;
                                TimeSpan dias;
                                DateTime fechaHoy = DateTime.Now;

                                if (ViewBag.ObjLista != null)
                                {
                                    List<entCliente_Telefono> Lista = (List<entCliente_Telefono>)ViewBag.ObjLista;
                                    if (Lista.Count() == 1)
                                    {

                                        foreach (var ls in Lista)
                                        {
                                            Cli_Id = ls.Cliente.Cli_Id;
                                            Cli_Codigo = ls.Cliente.Cli_Codigo;
                                            Cli_Nombre = ls.Cliente.Cli_Nombre;
                                            Cli_RazonSocial = ls.Cliente.Cli_RazonSocial;
                                            Cli_Numero_Documento = ls.Cliente.Cli_Numero_Documento;
                                            Cli_FechaNacimiento = Convert.ToDateTime(ls.Cliente.Cli_FechaNacimiento).ToShortDateString();
                                            Cli_LugarNacimiento = ls.Cliente.Cli_LugarNacimiento;
                                            Cli_Correo = ls.Cliente.Cli_Correo;
                                            Cli_Telefono_Referencia = ls.Cliente.Cli_Telefono_Referencia;
                                            Cli_Estado = ls.Cliente.Cli_Estado;
                                            Cli_FechaRegistro = Convert.ToDateTime(ls.Cliente.Cli_FechaRegistro).ToShortDateString();
                                            Cli_FechaModificacion = Convert.ToDateTime(ls.Cliente.Cli_FechaModificacion).ToShortDateString();
                                            td_Descripcion = ls.Cliente.TipDoc.td_Descripcion;
                                            Seg_Nombre = ls.Cliente.Segmento.Seg_Nombre;
                                            Tel_Numero = ls.Telefono.Tel_Numero;
                                            Tel_Producto = ls.Telefono.Tel_Producto;
                                            Tel_Direccion = ls.Telefono.Tel_Direccion;
                                            Tel_FechaAlta = Convert.ToDateTime(ls.Telefono.Tel_FechaAlta).ToShortDateString();
                                            Tel_F1 = String.Format("{0:0.00}", ls.Telefono.Tel_F1);
                                            Tel_F2 = String.Format("{0:0.00}", ls.Telefono.Tel_F1);
                                            Tel_F3 = String.Format("{0:0.00}", ls.Telefono.Tel_F1);
                                            dias = (fechaHoy - Convert.ToDateTime(ls.Cliente.Cli_FechaModificacion));
                                            day = dias.TotalDays;
                                            month = (int)(day / 30.436875);
                                            year = (int)(day / 365.2425);
                                            if (day <= 31) { desde = String.Format("{0:0}", day) + ": Dias"; }
                                            else if (day > 31 && day < 365) { desde = month.ToString() + ": Meses"; }
                                            else { desde = year + ": Años"; }
                                        }
                                    }
                                }

                            }
                            <div id="MostrarTable">
                                <hr class="ruler-xxl">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr class="gradeA odd selected" role="row">
                                                        <th>#</th>
                                                        <th>Codigo</th>
                                                        <th>Nombre</th>
                                                        <th>Segmento</th>
                                                        <th>Documento</th>
                                                        <th>Estado</th>
                                                        <th>Producto/Servicio</th>
                                                        <th>Teléfono</th>

                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ int cont = 0;
                                                     if (ViewBag.ObjLista != null)
                                                     {
                                                         List<entCliente_Telefono> Lista = (List<entCliente_Telefono>)ViewBag.ObjLista;
                                                         foreach (var item in Lista)
                                                         {
                                                             cont++;
                                                            <tr>
                                                                <td>@cont</td>
                                                                <td>@item.Cliente.Cli_Codigo</td>
                                                                <td>@item.Cliente.Cli_Nombre</td>
                                                                <td>@item.Cliente.Segmento.Seg_Nombre</td>
                                                                <td>@item.Cliente.Cli_Numero_Documento</td>
                                                                <td>@item.Cliente.Cli_Estado</td>
                                                                <td>@item.Telefono.Tel_Producto</td>
                                                                <td>@item.Telefono.Tel_Numero</td>
                                                                <td>
                                                                    <a href="@Url.Action("BuscaCliente", "Comun", new { num_Tel = item.Telefono.Tel_Numero})" class="btn btn-flat btn-primary ink-reaction"><i class="md md-search"></i></a>

                                                                </td>
                                                            </tr>
                                                         }
                                                     }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ocultarForm">
                                <hr class="ruler-xxl">
                                    <h4>Datos Línea</h4>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txttelf" placeholder="Teléfono" value="@Tel_Numero">                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtdireccion" placeholder="Dirección" value="@Tel_Direccion">
                                                </div>
                                            </div>                                       
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtservicio" placeholder="Servicio" value="@Tel_Producto">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" name="txtfalta" placeholder="Fecha de alta" value="@Tel_FechaAlta">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <a href="@Url.Action("#", "#", new { }) " class="btn ink-reaction btn-success"><i class="md md-search"></i> P/S. Con</a>

                                                </div>
                                            </div>
                                        </div>
                                    <hr class="ruler-xxl">                                 
                                <h4>Facturación</h4>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtf1" placeholder="Factura 1 S/ 000.00" value="@Tel_F1">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtf2" placeholder="Factura 2 S/ 000.00" value="@Tel_F2">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtf3" placeholder="Factura 3 S/ 000.00" value="@Tel_F3">
                                                </div>
                                            </div>
                                        </div>
                                    <hr class="ruler-xxl">
                                <h4>Datos Cliente</h4>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtcodigo" placeholder="Código" value="@Cli_Codigo">                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" txttipdoc placeholder="Tipo de documento" value="@td_Descripcion">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtnrodoc" placeholder="Nº de documento" value="@Cli_Numero_Documento">                                                   
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtcliente" placeholder="Cliente" value="@Cli_Nombre">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtrazsocial" placeholder="Razón social" value="@Cli_RazonSocial">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtsegmento" placeholder="Segmento" value="@Seg_Nombre">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" name="txtfnaci" placeholder="Fecha de nacimiento" value="@Cli_FechaNacimiento">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="lnacimiento" placeholder="Lugar de nacimiento" value="@Cli_LugarNacimiento">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="txtcorreo" placeholder="Correo" value="@Cli_Correo">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txttelfref" placeholder="Teléfono de referencia" value="@Cli_Telefono_Referencia">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="estado" placeholder="Estado" value="@Cli_Estado">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="ultupdate" placeholder="Última actualización" value="@Cli_FechaModificacion | @desde">
                                                </div>
                                            </div>
                                        </div>
                                    <hr class="ruler-xxl">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>
</form>