@using CapaEntidades
@{
    ViewBag.Title = "Venta";
    Layout = "~/Views/MasterPage.cshtml";
}             <h2></h2>
                    <form method="post">

                        <div class="col-lg-offset-1 col-md-4 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="regular1">Accion</label>
                                        @{// List<entAccionComercial> Lista1 = negArbolVenta.Instancia.ListaAcCbo();
                                        <select id="Acccom" name="idAccCom" class="form-control">
                                            <option value="0"><<<<<-Seleccionar->>>>></option>
                                            @foreach (CapaEntidades.entAccionComercial ac
                                        in CapaNegocio.negArbolVenta.Instancia.ListaAcCbo())
                                            {
                                                <option value="@ac.Acc_Id">@ac.Acc_Nombre</option>
                                            }
                                        </select>
                                        }
                                    </div>

                                    <div class="form-group">
                                        <label for="regular1">Detalle</label>
                                        <select id="detAccCom" name="DetaAccCom" class="form-control">
                                            <option value="0"><<<<<-Seleccionar->>>>></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="regular1">Grupo</label>
                                        <select id="grupCom" name="GrupCom" class="form-control">
                                            <option value="0"><<<<<-Seleccionar->>>>></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="regular1">Categoria</label>
                                        <select id="Cate" name="GrupCom" class="form-control">
                                            <option value="0"><<<<<-Seleccionar->>>>></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="regular1">Producto</label>
                                        <select id="Products" name="Prod" class="form-control">
                                            <option value="0"><<<<<-Seleccionar->>>>></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="regular1">Resultado</label>
                                        <select id="Result" name="GrupCom" class="form-control">
                                            <option value="0"><<<<<-Seleccionar->>>>></option>
                                            <option value="1">Acepto</option>
                                            <option value="2">Rechazo</option>
                                            <option value="3">Pendiente</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="textarea1">Descripcion</label>
                                        <textarea name="Desc" id="textarea1" class="form-control" rows="2"></textarea>
                                    </div>
                                    <input type="submit" name="Guardar" value="Guardar">

                                </div><!--end .card-body -->
                            </div><!--end .card -->
                            <em class="text-caption">ITN|CIBERTEC</em>
                        </div><!--end .col -->
                       
                        @{
                            String cliente = "";
                            String ruc = "";
                            String empresa = "";
                            String dni = "";
                            String direccion = "";
                            int iddepa = 0;
                            String departamento = "";
                            int idprov = 0;
                            String provincia = "";
                            int iddistr = 0;
                            String distrito = "";
                            String fechanacimiento = "";
                            String lugnacimiento = "";
                            String correo = "";
                            String teelfref = "";
                            int idcliente = 0;
                            int idpersona = 0;
                            if (ViewBag.cliente != null)
                            {
                                entCliente c = (entCliente)ViewBag.cliente;
                                idcliente = c.Cli_Id;
                                cliente = c.Persona_telef.persona.Per_Nombres +" "+ c.Persona_telef.persona.Per_Apellidos;
                                ruc = c.Cli_Ruc;
                                empresa = c.Cli_Empresa;
                                dni = c.Persona_telef.persona.Per_DNI;
                                direccion = c.Persona_telef.persona.Per_Direccion;
                                iddepa = c.Cli_Depardamento.idDepa;
                                departamento = c.Cli_Depardamento.departamento;
                                idprov = c.Cli_Provincia.idProv;
                                provincia = c.Cli_Provincia.provincia;
                                iddistr = c.Cli_Distrito.idDist;
                                distrito = c.Cli_Distrito.distrito;
                                direccion = c.Persona_telef.persona.Per_Direccion;
                                fechanacimiento = c.Persona_telef.persona.Per_FechaNacimiento.ToString();
                                lugnacimiento = c.Persona_telef.persona.Per_LugarNacimiento;
                                correo = c.Persona_telef.persona.Per_Correo;
                                teelfref = c.Persona_telef.persona.Per_Celular;
                                idpersona = c.Persona_telef.persona.Per_Id;
                            }
                        }

                        <div id="MostrarForm" >
                            <div id="mielemento">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group floating-label">
                                                <label for="regular2">Cliente</label>
                                                <input type="text" class="form-control" id="regular2" value="@cliente" name="cliente">
                                            </div>
                                            <div class="form-group floating-label">
                                                <label for="regular2">RUC</label>
                                                <input type="text" class="form-control" id="regular2" value="@ruc"  name="ruc">
                                            </div>
                                            <div class="form-group floating-label">
                                                <label for="regular2">Empresa</label>
                                                <input type="text" class="form-control" id="regular2" value="@empresa" name="empresa">
                                            </div>

                                            <div class="form-group floating-label">
                                                <label for="regular2">DNI</label>
                                                <input type="text" class="form-control" id="regular2" value="@dni" name="dni">
                                            </div>

                                            <div class="form-group floating-label">
                                                <label for="regular2">Direccion</label>
                                                <input type="text" class="form-control" id="regular2" value="@direccion" name="direccion">
                                            </div>

                                            <div class="form-group">
                                                <label for="regular1">Departamento</label>
                                                <select id="dept" name="depto" class="form-control">
                                                    @if (iddepa != 0){
                                                        <option value="@iddepa">@departamento</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="0"><<<<<-Seleccionar->>>>></option>
                                                    }@foreach (CapaEntidades.entDepartamento d in CapaNegocio.negArbolUbigeo.Instancia.ListarDept())
                                                    {
                                                        <option value="@d.idDepa">@d.departamento</option>
                                                    }

                                                </select>
                                            </div><div class="form-group">

                                                <label for="regular1">Provincia</label>
                                                <select id="prov" name="provin" class="form-control">
                                                   @if (idprov != 0)
                                                   {
                                                    <option value="@idprov">@provincia</option>
                                                   }
                                                   else
                                                   {
                                                    <option value="0"><<<<<-Seleccionar->>>>></option>
                                                   }

                                                </select>
                                            </div><div class="form-group">
                                                <label for="regular1">Distrito</label>
                                                <select id="dist" name="distrit" class="form-control">
                                                   @if (iddistr != 0)
                                                   {
                                                    <option value="@iddistr">@distrito</option>
                                                   }
                                                   else
                                                   {
                                                    <option value="0"><<<<<-Seleccionar->>>>></option>
                                                   }

                                                </select>
                                            </div><div class="form-group floating-label">
                                                <label for="regular2">Fecha Nacimiento</label>
                                                <input type="text" class="form-control" id="regular2" value="@fechanacimiento" name="fnacim">
                                            </div>
                                            <div class="form-group floating-label">
                                                <label for="regular2">Lugar Nacimiento</label>
                                                <input type="text" class="form-control" id="regular2" value="@lugnacimiento" name="lugnacimi">
                                            </div>
                                            <div class="form-group floating-label">
                                                <label for="regular2">Correo</label><input type="text" class="form-control" value="@correo" id="regular2" name="correo">
                                            </div>
                                            <div class="form-group floating-label">
                                                <label for="regular2">Telefono Ref</label>
                                                <input type="text" class="form-control" id="regular2" value="@teelfref" name="telefref">
                                            </div>

                                            <div class="form-group floating-label">
                                                <label for="regular2">A pagar</label>
                                                <input type="text" class="form-control" id="regular2" value="0" name="apagar">
                                            </div>

                                            <input type="text" name="idcliente" value="@idcliente">
                                            <input type="text" name="idpersona" value="@idpersona">
                                            <input type="text" name="telefono" value="@ViewBag.tel">


                                        </div>
                                    </div>
                                </div>

                            </div>
                            </div>

                    </form>
              



















