@using CapaEntidades

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->

    @{entUsuario u = null;
        String nombreTema = "";
        if (Session["usuario"] != null)
        {
            u = (entUsuario)Session["usuario"];

            if (u.usu_Config_Color == "D")
            {
                nombreTema = "theme-default";
            }
            else if (u.usu_Config_Color == "C")
            {
                nombreTema = "theme-1";
            }
            else if (u.usu_Config_Color == "N")
            {
                nombreTema = "theme-2";
            }
            else if (u.usu_Config_Color == "A")
            {
                nombreTema = "theme-3";
            }
            else if (u.usu_Config_Color == "V")
            {
                nombreTema = "theme-4";
            }
            else if (u.usu_Config_Color == "R")
            {
                nombreTema = "theme-5";
            }
        }
    }

    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/material-design-iconic-font.min.css?1421434286" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/DataTables/jquery.dataTables.css?1423553989" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/DataTables/extensions/dataTables.colVis.css?1422823421" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/DataTables/extensions/dataTables.tableTools.css?1422823422" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/select2/select2.css?1424887856" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/multi-select/multi-select.css?1424887857" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/bootstrap-datepicker/datepicker3.css?1424887858" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/bootstrap-colorpicker/bootstrap-colorpicker.css?1424887860" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/bootstrap-tagsinput/bootstrap-tagsinput.css?1424887862" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/typeahead/typeahead.css?1424887863" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/@nombreTema/libs/dropzone/dropzone-theme.css?1424887864" />

    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="~/assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
    
</head>
<body class="menubar-hoverable header-fixed menubar-pin ">
    <!-- BEGIN HEADER-->
    <header id="header">
        <div class="headerbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand">
                        <div class="brand-holder">
                            <a href="~/html/dashboards/dashboard.html">
                                <span class="text-lg text-bold text-primary">MATERIAL ADMIN</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="headerbar-right">
                <ul class="header-nav header-nav-options">
                    <li>
                        <!-- Search form -->
                        <form class="navbar-search" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
                            </div>
                            <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                </ul><!--end .header-nav-options -->
                @{
                    String NombreUser = "";
                    String TipoUser = null;
                    String foto = "";

                    if (Session["usuario"] == null)
                    {
                        Response.Redirect(Url.Action("Index", "Inicio"));
                    }
                    else
                    {
                        u = (entUsuario)Session["usuario"];
                        NombreUser = u.Persona.NombreCompleto;
                        TipoUser = u.TipoUsuario.TipUsu_Nombre;
                        foto = u.Persona.Per_Foto;
                    }

                }

                <ul class="header-nav header-nav-profile">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                            <img src="~/assets/img/Fotos/@foto?1403934956" alt="" />
                            <span class="profile-info">
                                @NombreUser
                                <small>@TipoUser</small>
                            </span>
                        </a>
                        <ul class="dropdown-menu animation-dock">
                            @*<li class="dropdown-header">Config</li>*@
                            <li><a href="~/html/pages/profile.html">Perfil</a></li>
                            <li><a href="@Url.Action("Ajustes", "Comun")">Ajustes</a></li>
                            <li class="divider"></li>
                            @*<li><a href="~/html/pages/locked.html"><i class="fa fa-fw fa-lock"></i> Lock</a></li>*@
                            <li><a href="@Url.Action("CerrarSession", "Inicio")"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
                        </ul><!--end .dropdown-menu -->
                    </li><!--end .dropdown -->
                </ul><!--end .header-nav-profile -->
                <ul class="header-nav header-nav-toggle">
                    <li>
                        <a class="btn btn-icon-toggle btn-default" href="#offcanvas-demo-size1" data-toggle="offcanvas">
                            <i class="fa md-color-lens"></i>
                        </a>
                    </li>
                </ul>
            </div><!--end #header-navbar-collapse -->
        </div>
    </header>
    <!-- END HEADER-->
    <!-- BEGIN BASE-->
    <div id="base">

        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas">
        </div><!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content">
            @RenderBody()
        </div><!--end #content-->
        <!-- END CONTENT -->
        <!-- BEGIN MENUBAR-->
        <div id="menubar" class="menubar-inverse ">
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="expanded">
                    <a href="~/html/dashboards/dashboard.html">
                        <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                    </a>
                </div>
            </div>
            <div class="menubar-scroll-panel">

                <!-- BEGIN MAIN MENU -->
                <ul id="main-menu" class="gui-controls">

                    @{if (TipoUser == "Administrador Sistema")
                        {


                        }
                        else if (TipoUser == "Gerente")
                        {

                     <!-- BEGIN FORMS -->
                            <li class="gui-folder">
                                <a>
                                    <div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                                    <span class="title">Registro</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="@Url.Action("ListaSupervisores", "Gerente")"><span class="title">Mantenedor Supervisor</span></a></li>
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                    <!-- END FORMS -->
                    <!-- BEGIN CHARTS -->
                            <li class="gui-folder">
                                <a>
                                    <div class="gui-icon"><i class="md md-assessment"></i></div>
                                    <span class="title">Reportes</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="~/html/forms/basic.html"><span class="title">Reporte Ventas Supervisor</span></a></li>
                                    <li><a href="~/html/forms/basic.html"><span class="title">Peporte Ventas Asesor</span></a></li>
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                    <!-- END CHARTS -->
                            //
                        }
                        else if (TipoUser == "Supervisor Call")
                        {

                        <!-- BEGIN FORMS -->
                            <li class="gui-folder">
                                <a>
                                    <div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                                    <span class="title">Registro</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="@Url.Action("ListaUsuarios", "Comun")"><span class="title">Mantenedor Asesores</span></a></li>

                                    <li><a href="#"><span class="title">Mantenedor Clientes</span></a></li>

                                    <li><a href="@Url.Action("PruebaUi", "Inicio")"><span class="title">Prueba</span></a></li>
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                    <!-- END FORMS -->
                   <!-- BEGIN CHARTS -->
                            <li class="gui-folder">
                                <a>
                                    <div class="gui-icon"><i class="glyphicon glyphicon-th-list"></i></div>
                                    <span class="title">Ventas</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="@Url.Action("lstUsuariosEstadoAsignacionLlamadas","SupervisorCall")"><span class="title">Asignar Clientes</span></a></li>
                                    <li><a href=""><span class="title">Seguimiento Ventas</span></a></li>
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                    <!-- END CHARTS -->

                        }
                        else if (TipoUser == "Supervisor Ventas")
                        {



                        }
                        else if (TipoUser == "Supervisor Instalaciones")
                        {



                        }
                        else if (TipoUser == "Supervisor Campo")
                        {
                            <li class="gui-folder">
                                <a>
                                    <div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                                    <span class="title">Registro</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="@Url.Action("ListaUsuarios", "Comun")"><span class="title">Mantenedor Asesores</span></a></li>
                                    <li><a href="@Url.Action("lstUsuariosEstadoAsignacionLlamadas","SupervisorCall")"><span class="title">Asignar Clientes</span></a></li>

                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->


                        }
                        else if (TipoUser == "Supervisor Adsl")
                        {



                        }
                        else if (TipoUser == "Asesor Ventas Call")
                        {
                        <!-- BEGIN FORMS -->
                            <li class="gui-folder">
                                <a>
                                    <div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                                    <span class="title">Registro</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="@Url.Action("ListarMisLlamadas","AsesorVentasCall")"><span class="title">Registro Ventas</span></a></li>

                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                    <!-- END FORMS -->

                        }
                        else if (TipoUser == "Asesor Ventas Campo")
                        {



                        }
                        else if (TipoUser == "Administrador Data")
                        {



                        }
                        

                    }
                </ul>
                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        <span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
                    </small>
                </div>
            </div>
        </div>
        <div class="offcanvas">
            <!--Themas-->
            <div id="offcanvas-demo-size1" class="offcanvas-pane width-4">
                <div class="offcanvas-head">
                    <header>Temas</header>
                    <div class="offcanvas-tools">
                        <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                            <i class="md md-close"></i>
                        </a>
                    </div>
                </div>
                <div class="offcanvas-body">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-block ink-reaction btn-primary">Principal</button>
                        <button type="button" class="btn btn-block ink-reaction btn-info">Celeste</button>
                        <button type="button" class="btn btn-block ink-reaction" style="color: #ff5722; color: #ffffff; background-color: #ff5722; border-color: #ff5722; ">Naranja</button>
                        <button type="button" class="btn btn-block ink-reaction" style="color: #3f51b5; color: #ffffff; background-color: #3f51b5; border-color: #3f51b5; ">
                            Azul
                        </button>
                        <button type="button" class="btn btn-block ink-reaction btn-success">Verde</button>
                        <button type="button" class="btn btn-block ink-reaction btn-danger">Rojo</button>
                    </div><br />
                    <h4>Menú superior</h4>
                    <div class="col-lg-12">
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="headerInversed" value="0" checked="">
                                <span>Claro</span>
                            </label>
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="headerInversed" value="1">
                                <span>Oscuro</span>
                            </label>
                        </div>
                    </div>
                    <h4>Menú izquierdo</h4>
                    <div class="col-lg-12">
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="menubarInversed" value="0">
                                <span>Claro</span>
                            </label>
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="menubarInversed" value="1" checked="">
                                <span>Oscuro</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="force-padding stick-bottom-right">
                    <a class="btn btn-floating-action btn-accent " href="#offcanvas-demo-size2" data-toggle="offcanvas">
                        <i class="md md-arrow-forward"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <script src="~/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="~/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/js/libs/spin.js/spin.min.js"></script>
    <script src="~/assets/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="~/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="~/assets/js/libs/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js"></script>
    <script src="~/assets/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/js/libs/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/assets/js/libs/select2/select2.min.js"></script>
    <script src="~/assets/js/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/assets/js/libs/multi-select/jquery.multi-select.js"></script>
    <script src="~/assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/js/libs/moment/moment.min.js"></script>
    <script src="~/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    @*<script src="~/assets/js/libs/typeahead/typeahead.bundle.min.js"></script>*@
    <script src="~/assets/js/libs/dropzone/dropzone.min.js"></script>
    <script src="~/assets/js/core/source/App.js"></script>
    <script src="~/assets/js/core/source/AppNavigation.js"></script>
    <script src="~/assets/js/core/source/AppOffcanvas.js"></script>
    <script src="~/assets/js/core/source/AppCard.js"></script>
    <script src="~/assets/js/core/source/AppForm.js"></script>
    <script src="~/assets/js/core/source/AppNavSearch.js"></script>
    <script src="~/assets/js/core/source/AppVendor.js"></script>
    <script src="~/assets/js/core/demo/Demo.js"></script>
    <script src="~/assets/js/core/demo/DemoTableDynamic.js"></script>
    <script src="~/assets/js/core/demo/DemoFormComponents.js"></script>



    <script>
        function valida(e) {
            tecla = (document.all) ? e.keyCode : e.which;

            //Tecla de retroceso para borrar, siempre la permite
            if (tecla == 8) {
                return true;
            }

            // Patron de entrada, en este caso solo acepta numeros
            patron = /[0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }
    </script>

    <script type="text/javascript">
        jQuery(function ($) {
            $('#myModalEliminar').on('show.bs.modal', function (e) {
                var id = $(e.relatedTarget).data().id;
                $(e.currentTarget).find('#Id').val(id);
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#myModalBloquear').on('show.bs.modal', function (e) {
                var id = $(e.relatedTarget).data().id;
                $(e.currentTarget).find('#Id').val(id);
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#myModalActivar').on('show.bs.modal', function (e) {
                var id = $(e.relatedTarget).data().id;
                $(e.currentTarget).find('#Id').val(id);
            });
        });
    </script>

    <script type="text/javascript">

        $("#Acccom").change(function () {
            detAccCom()
            var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
            $("#grupCom").html(opciones)
            $("#Cate").html(opciones)
            $("#Products").html(opciones)


        })

        var detAccCom = function () {
            $.getJSON('@Url.Action("LlenarDetAccComJSON", "AsesorVentasCall")', { idAccCom: $('#Acccom').val() },
                function (data) {
                    var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
                    $.each(data, function (i, item) {
                        opciones += '<option value="' + item.DetAcc_ID + '">' + item.DetAcc_Nombre + '</option>'
                    });
                    $("#detAccCom").html(opciones);
                })
        }

    </script>

    <script type="text/javascript">
        $("#detAccCom").change(function () {
            grupCom()
            var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
            $("#Cate").html(opciones)
            $("#Products").html(opciones)
        })

        var grupCom = function () {
            $.getJSON('@Url.Action("LlenarGrup_ComJSON", "AsesorVentasCall")', { id_detaCC_Com: $('#detAccCom').val() },
            function (data) {
                var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
                $.each(data, function (i, item) {
                    opciones += '<option value="' + item.Gru_ID + '">' + item.Gru_Nombre + '</option>'
                });
                $("#grupCom").html(opciones);
            })
        }
    </script>

    <script type="text/javascript">
        $("#grupCom").change(function () {
            Cate()
            var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
            $("#Products").html(opciones)
        })

        var Cate = function () {
            $.getJSON('@Url.Action("LlenarCatJSON", "AsesorVentasCall")', { id_Grup: $('#grupCom').val() },
         function (data) {
             var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
             $.each(data, function (i, item) {
                 opciones += '<option value="' + item.Cat_Id + '">' + item.Cat_Nombre + '</option>'
             });
             $("#Cate").html(opciones);
         })
        }
    </script>


    <script type="text/javascript">
        $("#Cate").change(function () {
            Products();

        })

        var Products = function () {
            $.getJSON('@Url.Action("LlenarProdJSON", "AsesorVentasCall")', { id_Cat: $('#Cate').val() },
         function (data) {
             var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
             $.each(data, function (i, item) {
                 opciones += '<option value="' + item.Pro_ID + '">' + item.Pro_Nombre + '</option>'
             });
             $("#Products").html(opciones);
         })
        }
    </script>

  


    <script type="text/javascript">
        $("#MostrarForm").hide(true);
        $("#Result").change(function () {
            if ($("#Result").val() == "1") {
                //  var result = '<div class="col-md-4 col-sm-6"><div class="card"><div class="card-body"><div class="form-group floating-label"><label for="regular2">Cliente</label><input type="text" class="form-control" id="regular2" name="cliente"></div><div class="form-group floating-label"><label for="regular2">RUC</label><input type="text" class="form-control" id="regular2" name="ruc"></div><div class="form-group floating-label"><label for="regular2">Empresa</label><input type="text" class="form-control" id="regular2" name="empresa"></div><div class="form-group floating-label"><label for="regular2">Direccion</label><input type="text" class="form-control" id="regular2" name="direccion"></div><div class="form-group"><label for="regular1">Accion</label><select id="dept" name="depto" class="form-control"><option value="0"><<<<<-Seleccionar->>>>></option></select></div><div class="form-group"><label for="regular1">Detalle</label><select id="prov" name="provin" class="form-control"><option value="0"><<<<<-Seleccionar->>>>></option></select></div><div class="form-group"><label for="regular1">Grupo</label><select id="dist" name="distrit" class="form-control"><option value="0"><<<<<-Seleccionar->>>>></option></select></div><div class="form-group floating-label"><label for="regular2">Fecha Nacimiento</label><input type="text" class="form-control" id="regular2" name="fnacim"></div><div class="form-group floating-label"><label for="regular2">Lugar Nacimiento</label><input type="text" class="form-control" id="regular2" name="lugnacimi"></div><div class="form-group floating-label"><label for="regular2">Correo</label><input type="text" class="form-control" id="regular2" name="correo"></div><div class="form-group floating-label"><label for="regular2">Telefono Ref</label><input type="text" class="form-control" id="regular2" name="telefref"></div></div></div></div>'
                $("#MostrarForm").show();
                //dept();
            } else {

                $("#MostrarForm").hide(true);
            }
        });
    </script>

    @*<script type="text/javascript">
        var dept = function () {
            $.getJSON('@Url.Action("LlenarDeptJSON", "AsesorVentasCall")',
         function (data) {
            var opciones ='<option value="0"><<<<<-Seleccionar->>>>></option>';
             $.each(data, function (i, item) {
                
                 opciones += '<option value="' + item.idDepa + '">' + item.departamento + '</option>'
             });
             $("#dept").html(opciones);
         })
        }
    </script>*@

    <script type="text/javascript">
        $("#dept").change(function () {
            prov();
            var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
            $("#prov").html(opciones)

        })

        var prov = function () {
            $.getJSON('@Url.Action("LlenarProvJSON", "AsesorVentasCall")', { iddepat: $('#dept').val() },
         function (data) {
             var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
             $.each(data, function (i, item) {
                 opciones += '<option value="' + item.idProv + '">' + item.provincia + '</option>'
             });
             $("#prov").html(opciones);
         })
        }
    </script>



    <script type="text/javascript">
        $("#prov").change(function () {
            dist();
            var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
            $("#dist").html(opciones)
        })

        var dist = function () {
            $.getJSON('@Url.Action("LlenarDistJSON", "AsesorVentasCall")', { idprov: $('#prov').val() },
         function (data) {
             var opciones = '<option value="0"><<<<<-Seleccionar->>>>></option>';
             $.each(data, function (i, item) {
                 opciones += '<option value="' + item.idDist + '">' + item.distrito + '</option>'
             });
             $("#dist").html(opciones);
         })
        }
    </script>

   

</body>
</html>
