@model CapaEntidades.entUsuario

@{
    ViewBag.Title = "InsSupervisor";
    Layout = "~/Views/MasterPage.cshtml";
}


<section>
    <h1>Usuario nuevo</h1> 
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                @if (@ViewBag.mensaje != null)
                {
                    if (@ViewBag.identificador == 1)
                    {
                        <div class="alert alert-callout alert-warning" role="alert">
                            <strong>Atención!</strong> @ViewBag.mensaje
                        </div>
                    }
                    else if (@ViewBag.identificador == 2)
                    {
                        <div class="alert alert-callout alert-danger" role="alert">
                            <strong>Ooops!</strong> @ViewBag.mensaje
                        </div>
                    }
                    else if (@ViewBag.identificador == 3)
                    {
                        <div class="alert alert-callout alert-success" role="alert">
                            <strong>Atención!</strong> @ViewBag.mensaje
                        </div>
                    }
                }

                <div class="card-body ">


                    @using (Html.BeginForm("InsSupervisor", "Gerente", FormMethod.Post, new { @Class = "form form-validate basic-label", enctype = "multipart/form-data", novalidate = "novalidate", role = "form" }))
                    {@Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        //<form class="form form-validation" role="form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @{String required = "required";}
                                    @Html.TextBoxFor(model => model.Persona.Per_Nombres, new { @class = "form-control", data_rule_minlength = "2", required })
                                    <label for="dgdsg" class="control-label">Nombres</label>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Persona.Per_Apellidos, new { @class = "form-control", data_rule_minlength = "2", required })
                                    <label for="dgsdgds" class="control-label">Apellidos</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Persona.Per_DNI, new { @class = "form-control", required, @data_rule_minlength = "8", @maxlength = "8", data_rule_number = "true", @onkeypress = "return valida(event)" })
                                    <label for="firstname" class="control-label">DNI</label>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">

                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Persona.Per_Celular, new { @class = "form-control", required, @data_rule_minlength = "9", @maxlength = "9", data_rule_number = "true", @onkeypress = "return valida(event)" })
                                    <label for="lastname" class="control-label">Celular</label>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Persona.Per_Correo, new { @class = "form-control" })
                                    <label for="firstname" class="control-label">Correo</label>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <select id="select1" name="dominio" class="form-control" required>
                                        <option value="Seleccionar">&nbsp;</option>
                                        <option value="hotmail.com">&#64;hotmail.com</option>
                                        <option value="gmail.com">&#64;gmail.com</option>
                                        <option value="outlook.com">&#64;outlook.com</option>
                                        <option value="yahoo.com">&#64;yahoo.com</option>
                                        <option value="Otros">Otros</option>
                                    </select>
                                    <label for="select1">Dominio</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Usu_Telefono, new { @class = "form-control", data_rule_number = "true", @onkeypress = "return valida(event)" })
                                    <label for="lastname" class="control-label">Telefono</label>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Persona.Per_Direccion, new { @class = "form-control", data_rule_minlength = "2", required })
                                    <label for="firstname" class="control-label">Direccion</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="text" name="txtFecNac" class="form-control" data-inputmask="'alias': 'date'" required>
                                    <label>Fecha de Nacimiento</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Persona.Per_LugarNacimiento, new { @class = "form-control" })
                                    <label for="firstname" class="control-label">Lugar Nacimiento</label>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.TipoUsuario.TipUsu_Id, (SelectList)ViewBag.ListaTipoUsuario, "", new { @class = "form-control", required })
                                    <label for="tipousuario" class="control-label">Tipo Usuario</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.Sucursal.Suc_Id, (SelectList)ViewBag.ListaSucursal, "", new { @class = "form-control", required })
                                    <label for="sucursal" class="control-label">Sucursal</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group control-width-normal">
                                    <div class="input-group date" id="demo-date-format">
                                        <div class="input-group-content">
                                            <input type="text" name="txtFecHasta" class="form-control" required>
                                            <label>Fecha Vigencia</label>
                                            <p class="help-block">yyyy/mm/dd</p>
                                        </div>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div><!--end .form-group -->
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">   

                                    <label class="btn btn-info btn-file">
                                        <input type="file" class="form-control" name="archivo" />
                                        Buscar fotografía
                                    </label>   
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div style="text-align:center">
                                    <input type="submit" class="btn btn-raised btn-success" value="Registrar" />
                                    <input type="reset" class="btn btn-raised btn-default" value="Borrar" />
                                    @Html.ActionLink("Cancelar", "ListaSupervisores", null, htmlAttributes: new { @class = "btn btn-raised btn-warning" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>


                    }

                </div><!--end .card-body -->
            </div><!--end .card -->
        </div><!--end .col -->
    </div><!--end .row -->
    <!-- END VALIDATION FORM WIZARD -->
</section>