@using CapaEntidades
@{
    Layout = "~/Views/MasterPage.cshtml";
}

<section>
    <h1>Estado de ventas / Seguimiento/ Actualización </h1>
    @{
        if (ViewBag.mensaje != null)
        {
            <div class="alert alert-callout alert-success" role="alert">
                <strong>!Bien!</strong> @ViewBag.mensaje
            </div>
        }
    }
    <div class="section-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head"></div>
                    <div class="card-body">
                        <form class="form form-validate basic-label" method="post" action="ActualizarEstadosVentas">
                            <div class="card card-outlined style-primary">
                                <div class="card-head"></div>
                                <div class="col-lg-2">
                                    <div class="form-group control-width-normal">
                                        <div class="input-group date" id="demo-date-format">
                                            <div class="input-group-content">
                                                <input type="text" name="txtFehcaDesde" class="form-control" required="" aria-required="true">
                                                <label>Desde</label>
                                                <p class="help-block">yyyy/mm/dd</p>
                                            </div>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group control-width-normal">
                                        <div class="input-group date" id="demo-date">
                                            <div class="input-group-content">
                                                <input type="text" name="txtFecHasta" class="form-control" required="" aria-required="true">
                                                <label>Hasta</label>
                                                <p class="help-block">dd/mm/yyy</p>
                                            </div>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <select id="select1" name="select1" class="form-control dirty" required="" aria-required="true">
                                            <option value="0">&nbsp;</option>
                                            @{ if (ViewBag.estados != null)
                                                {
                                                    List<entEstado> Lista = (List<entEstado>)ViewBag.estados;
                                                    foreach (var i in Lista)
                                                    {
                                                        <option value="@i.Est_Id">@i.Est_Nombre</option>
                                                    }
                                                }
                                            }
                                        </select>
                                        <label for="select1">Estado</label>
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <select id="select1" name="select2" class="form-control" required>
                                            <option value="">&nbsp;</option>
                                            @{ if (ViewBag.usuarios != null)
                                                {
                                                    List<entUsuario> Lista = (List<entUsuario>)ViewBag.usuarios;
                                                    foreach (var i in Lista)
                                                    {
                                                        <option value="@i.Usu_Id">@i.Persona.NombreCompleto (@i.TipoUsuario.TipUsu_Nombre)</option>
                                                    }
                                                }
                                            }
                                        </select>
                                        <label for="select1">Asesores</label>
                                    </div>

                                </div>
                                <div class="col-lg-2">

                                    <div style="text-align:right">
                                        <input type="submit" value="Buscar" name="btnBuscar" class="btn btn-raised btn-success">
                                    </div>

                                </div>
                            </div>
                        </form>
                        <div class="col-lg-12">
                            <div class="table-responsive no-margin">
                                <table id="datatable1" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Cod-pedido</th>
                                            <th>Producto</th>
                                            <th>Accion Comercial</th>
                                            <th>Estado</th>
                                            <th>Fecha Registro</th>
                                            <th>Observ.</th>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @{ if (Session["ventas"] != null)
                                            {
                                                List<entPedido> p = (List<entPedido>)Session["ventas"];
                                                foreach (var i in p)
                                                {
                                                    <tr>
                                                        <td>@i.Ped_Codigo</td>
                                                        <td>@i.Producto.Pro_Nombre</td>
                                                        <td>@i.AccionComercial.Acc_Nombre</td>
                                                        <td>@i.Estado.Est_Nombre</td>
                                                        <td>@i.Ped_FechaRegistro</td>
                                                        <td>@i.Ped_Obser_Estados</td>
                                                        <td>
                                                            <span data-toggle="modal" data-target="#myModalActEstado" data-id="@i.Ped_Id">
                                                                <a class="btn ink-reaction btn-raised btn-primary" role='button' data-toggle="tooltip" data-placement="top" title="Actualizar"><i class="md-border-color"></i></a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="myModalActEstado" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" role="form" action="GuardaActuPedido" class="form form-validate basic-label" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title" id="simpleModalLabel">Cambiar Estado</h4>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">                               
                                <select name="selecestado" class="form-control" required>
                                    <option value="">&nbsp;</option>
                                    @{ if (ViewBag.estados != null)
                                        {
                                            List<entEstado> l = (List<entEstado>)ViewBag.estados;
                                            foreach (var i in l)
                                            {
                                                <option value="@i.Est_Id">@i.Est_Nombre</option>
                                            }
                                        }
                                    }
                                </select>
                                <label for="Email1">Estado</label>
                            </div>
                           <div class="form-group">
                            <textarea name="desc" class="form-control" required></textarea>
                               <label for="Email1">Descripcion</label>
                           </div>
                            </div>

                        </div>
                    <input type="hidden" name="txtidPedido" id="Id" value="" />
                    
                    <p>Asegurese se actualizar conforme al estado del aplicativo principal!</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-raised btn-danger">ACTUALIZAR</button>
                    <button type="button" class="btn btn-raised btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
