@using CapaEntidades;
@using System.Data 
@{
    ViewBag.Title = "ExtraerDatosAsignar";
    Layout = "~/Views/MasterPage.cshtml";
}

<script type="text/javascript">
        function validarField(ex) {
            tecla = (document.all) ? ex.keyCode : ex.which;
            //Tecla de retroceso para borrar, siempre la permite
            if (tecla == 8) {
                return true;
            }
            // Patron de entrada, en este caso solo acepta numeros
            patron = /[0-9.,]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }

        function validarFecha(f) {
            tecla = (document.all) ? f.keyCode : f.which;
            //Tecla de retroceso para borrar, siempre la permite
            if (tecla == 8) {
                return true;
            }
            // Patron de entrada, en este caso solo acepta numeros
            patron = /[0-9-/,]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }
</script>
<div id="content">
<section> 
    <div class="card card-bordered style-accent">
        @{ String asesor = (String)Session["user"];}
       ASESOR:@asesor
        <div class="card-body style-default-bright">
            <form method="post" action="ExtraerDatosAsignarSession" name="eda" onsubmit="return validar()">
                    <section>
                        <div class="row">
                                  <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped no-margin">
                                               
                                                <tr style="background-color:darkgray">
                                                    <td>Telefono</td>
                                                    <td>Cliente</td>
                                                    <td>F1</td>
                                                    <td>F2</td>
                                                    <td>F3</td>
                                                    <td>SVA</td>
                                                    <td>INICIO VIGENCIA</td>
                                                </tr>
                                                @{

                                                    if (Session["asllamadas"] != null)
                                                    {
                                                        entAsigncionLlamadas ac = new entAsigncionLlamadas();
                                                        ac = (entAsigncionLlamadas)Session["asllamadas"];
                                                        String Asi_NumTelf = ac.Asi_NumTelf;
                                                        String Cliente = ac.Cliente;
                                                        Double Asi_F1 = ac.Asi_F1;
                                                        Double Asi_F2 = ac.Asi_F2;
                                                        Double Asi_F3 = ac.Asi_F3;
                                                        String Asi_SVA = ac.Asi_SVA;
                                                        String Asi_FechInicioCliente = ac.Asi_FechInicioCliente;
                                                        Session.Remove("asllamadas");
                                                    <tr>
                                                        <td><input type="text" name="telefono" value="@Asi_NumTelf"></td>
                                                        <td><input type="text" name="cliente" value="@Cliente"></td>
                                                        <td><input type="text"  name="f1" value="@Asi_F1" onkeypress="return validarField(event)"></td>
                                                        <td><input type="text" name="f2" value="@Asi_F2" onkeypress="return validarField(event)"></td>
                                                        <td><input type="text" name="f3" value="@Asi_F3" onkeypress="return validarField(event)"></td>
                                                        <td><input type="text" name="sva" value="@Asi_SVA"></td>
                                                        <td><input type="text" name="iniciovigencia" value="@Asi_FechInicioCliente" onkeypress="retu
                                                     validarFecha(event)"></td>
                                                    </tr>
                                                    }
                                                    else {
                                                    <tr>
                                                    <td><input type="text" name="telefono" onkeypress="return valida(event)" maxlength="9" ></td>
                                                    <td><input type="text" name="cliente" ></td>
                                                    <td><input type="text" name="f1" value="0.0" onkeypress="return validarField(event)"></td>
                                                    <td><input type="text" name="f2" value="0.0" onkeypress="return validarField(event)"></td>
                                                    <td><input type="text" name="f3" value="0.0" onkeypress="return validarField(event)"></td>
                                                    <td><input type="text" name="sva"  ></td>
                                                    <td><input type="text" name="iniciovigencia" value="01/01/0001" onkeypress="return validarFecha(event)"></td>
                                                </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <input type="submit" class="btn btn-block ink-reaction btn-default-light" name="agregar" value="Agregar">
                                </div>
                            @{ 
                                int count=0;
                                int count2 = 0;
                                int count3= 0;
                                DataTable dtl = null;
                                if (Session["asignacion"] != null){
                                    dtl = (DataTable)Session["asignacion"];
                                    foreach (DataRow row in dtl.Rows){
                                        count3++;
                                        if (row["Asi_Estado"].ToString() == "0"){ count++;}
                                        else if (row["Asi_Estado"].ToString() == "1") { count2++; }
                                    }

                                }
                            }
                            <p style="font-family:'Californian FB';font-size:large">Sin Atencion: @count &nbsp;&nbsp; Atendias: @count2 &nbsp;&nbsp;  Total: @count3</p> 
                           

                        </div>
                    </section>
              
            </form>
        </div>
        <h2>@ViewBag.mensaje</h2>
        <form method="post" action="ExtraerDatosAsignarSession">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Telefono</th>
                                        <th>Cliente</th>
                                        <th>F1</th>
                                        <th>F2</th>
                                        <th>F3</th>
                                        <th>SVA</th>
                                        <th>SERV. DESDE</th>                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                        DataTable dt = null;
                                         dt = (DataTable)Session["asignacion"];
                                        if (dt != null)
                                        { String color="";
                                            foreach (DataRow row in dt.Rows)
                                            {
                                                i++;
                                                if (row["Asi_Estado"].ToString() == "1") { color = "aquamarine"; } else { color = ""; }
                                                <tr style="background-color:@color">
                                                    <td>@i</td>
                                                    <td>@row["telefono"]</td>
                                                    <td>@row["cliente"]</td>
                                                    <td>@row["f1"]</td>
                                                    <td>@row["f2"]</td>
                                                    <td>@row["f3"]</td>
                                                    <td>@row["sva"]</td>
                                                    <td>@row["iniciovigencia"]</td>
                                                    <td>@Html.ActionLink("Quitar", "EliminarFila", new { telef = row["telefono"] })</td>
                                                    <td>@Html.ActionLink("Editar", "BuscaFilaSession", new { telef = row["telefono"] })</td>
                                                </tr>
                                            }

                                        }
                                    }

                                </tbody>
                            </table>
                        </div><!--end .table-responsive -->
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
        </div><!--end .row -->
        <!-- END RESPONSIVE TABLE 1 -->
            <div class="col-sm-3">        
        <input type="submit"  class="btn btn-block ink-reaction btn-default" name="GuadarTodo" value="Guardar-Todo/Terminar">
      <input type="submit" class="btn btn-block ink-reaction btn-default" name="Cancelar" value="Cancelar-Todo/Terminar">
        </div>
    </form>
       
    </div>
</section>
</div>

<script type="text/javascript">
    $("#NuevoCliente").click(function () {
        $("#MostrarForm").load('@Url.Action("AsignarCliente", "SupervisorCall")') } );
</script>

<script languaje="javascript">
    function validar() {
        if (document.eda.f1.value == '') {
            document.eda.f1.value = 0.0;
        } if (document.eda.f2.value == '') {
            document.eda.f2.value = 0.0;
        } if (document.eda.f3.value == '') {
        document.eda.f3.value = 0.0;
    }
        return true;
}
</script>