
@using System.Data 
@{
    ViewBag.Title = "ExtraerDatosAsignar";
    Layout = "~/Views/MasterPage.cshtml";
}


<div id="content">
<section> 
    <div class="card card-bordered style-primary">
        ASESOR : JUAN ALFREDO VASQUEZ ACERO
        <div class="card-body style-default-bright">
            <form method="post" action="ExtraerDatosAsignarSession">
               
                    <section>
                        <div class="row">
                            
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped no-margin">
                                                <tr style="background-color:darkgray">
                                                    <td>Telefono</td>
                                                    <td>Cliente</td>
                                                    <td>F1</td>
                                                    <td>F2</td>
                                                    <td>F3</td>
                                                    <td>SVA</td>
                                                    <td>INICIO VIGENCIA</td>
                                                </tr>
                                                <tr>
                                                    <td><input type="text" name="telefono"></td>
                                                    <td><input type="text" name="cliente"></td>
                                                    <td><input type="text" name="f1"></td>
                                                    <td><input type="text" name="f2"></td>
                                                    <td><input type="text" name="f3"></td>
                                                    <td><input type="text" name="sva"></td>
                                                    <td><input type="text" name="iniciovigencia"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <input type="submit" class="btn btn-block ink-reaction btn-primary-bright" name="agregar" value="Agregar">
                                </div>
                            
                        </div>
                    </section>
              
            </form>
        </div>
        <h2>@ViewBag.mensaje</h2>
        <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Telefono</th>
                                        <th>Cliente</th>
                                        <th>F1</th>
                                        <th>F2</th>
                                        <th>F3</th>
                                        <th>SVA</th>
                                        <th>FIN VIGENCIA</th>                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                        DataTable dt = (DataTable)Session["asignacion"];
                                        if (dt != null)
                                        {
                                            foreach (DataRow row in dt.Rows)
                                            {
                                                i++;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@row["telefono"]</td>
                                                    <td>@row["cliente"]</td>
                                                    <td>@row["f1"]</td>
                                                    <td>@row["f2"]</td>
                                                    <td>@row["f3"]</td>
                                                    <td>@row["sva"]</td>
                                                    <td>@row["iniciovigencia"]</td>
                                                    <td>@Html.ActionLink("Quitar", "EliminarFila", new { telef = row["telefono"] })</td>
                                                    <td>@Html.ActionLink("Editar", "AsignarCliente", new { telef = row["telefono"] })</td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div><!--end .table-responsive -->
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
        </div><!--end .row -->
        <!-- END RESPONSIVE TABLE 1 -->
            <div class="col-sm-3">        
        <input type="submit"  class="btn btn-block ink-reaction btn-default" name="GuadarTodo" value="Guardar-Todo/Terminar">
      <input type="submit" class="btn btn-block ink-reaction btn-default" name="Cancelar" value="Cancelar-Todo/Terminar">
        </div>
    </form>
    </div>
</section>
</div>

<script type="text/javascript">
    $("#NuevoCliente").click(function () {
        $("#MostrarForm").load('@Url.Action("AsignarCliente", "SupervisorCall")') } );
</script>